* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

.main {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    position: relative;



}

.title-denuncia {
    text-align: start;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 25pt;
    color: #F24E1E;

}

.body-text {
    text-align: justify;
    color: #01407a;
    
   

}

body {
    background-color: rgb(227, 227, 236);
}

.fielde-form {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;


}

#field-text {

    width: 100%;
    border-radius: 5px;
    height: 300px;
    color: #01407a;
    font-size: 15px;
    transition: .2s;
    /* border: #01407a 3px solid; */
    border: none;
    padding: 5px;
    background-color: #f3f3f3;




}

#field-text:focus {
    outline: none;
    box-shadow: 0 0 0 3px #92c3f0 , 0 0 0 4px #056ac9;   
    background-color: #FFFF;
    /* outline: #01407a 3px solid; */

}

.quantidade-letra {
    display: flex;
    gap: 5px;
    font-size: 15px;
    opacity: 90%;
    color: gray;
}

.container-btn {
    position: relative;
    display: flex;

    margin: 0 auto;
    justify-content: end;

}

.container-btn .content {
    display: flex;
    flex-direction: column;

}

.content{
    display: flex;
    flex-direction: column;    
    align-items: end;
    gap: 15px;
    transition: 1s;

    height: 150px;
 
}

.content .anexo {
    justify-self: end;
    display: flex;
    font-size: 15px;
    
    
}

.content p{

    justify-self: end;
}


#btn-subimit-denuncia {
    justify-self: end;
    padding: 15px;
    width: 330px;
    align-self: flex-end;
    color: #FFFF;
    background-color: #F24E1E;
    border: none;
    border-radius: 5PX;
    font-weight: 500;
}


#btn-subimit-denuncia:hover{
  
        outline: none;
        box-shadow: 0 0 0 3px #f5c3b4 , 0 0 0 4px #F24E1E;
        cursor: pointer;
       
        /* outline: #01407a 3px solid; */
    

    
}

#disable-btn {
    align-self: flex-end;
    padding: 15px;
    width: 330px;
    border: none;
     color: #fff;
    background-color:  #f5c3b4 ;
    cursor: not-allowed;
    border-radius: 5PX;
    font-weight: 500;

}

.titulo-chamada {
    position: relative;
    text-align: start;
    color: #F24E1E;
    font-size: 25pt;
   
}

@media (max-width:1024px) {


    .title-denuncia,
    .titulo-chamada {
        text-align: center;
    }

    .main {
        width: 600px;

    }
    #btn-subimit-denuncia,
    #disable-btn {
        width: 100%;
    }


}

@media (max-width:630px) {

    .title-denuncia,
    .titulo-chamada {
        text-align: center;
    }

    .main {
        width: 435px;

    }

    .btn-denuncia {
        background-color: antiquewhite;
    }

  
    #btn-subimit-denuncia,
    #disable-btn {
        width: 100%;
    }




    .content .anexo {
        font-size: 15px;
        left: 250px;
        }
    .content {
        width: 100%;
    
    }



    }
    @media (max-width:470px) {
        .main{
            width: 300px;
        }
    }

#erro-arquivo {


    color: red;
    font-size: 15px;

    animation: treme linear 1000ms;
}

@keyframes treme {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.1;
    }

    50% {
        scale: 1;

    }

    75% {
        scale: 1.1;

    }
    100% {
        scale: 1;

    }
}


/* Animações */






.animeUp{
    animation: animeUp .7s ease-in-out .4s backwards;
    -webkit-animation: animeUp .7s ease-in-out .4s backwards;
  }
  
  
  @keyframes animeUp{
    0%{
      transform: translateY(50px);
      -webkit-transform: translateY(50px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      opacity: 1;
    }
  }

  .animeDown{
    transition: 0.5s;
    animation: animeDown .7s ease-in-out .4s;
    -webkit-animation: animeDown .7s ease-in-out .4s backwards;
  }
  
  
  @keyframes animeDown{
    0%{
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      opacity: 1;
    }
  }

  
  